@import url(css3-buttons.css);

.logo-text {
	font-size: 20px;
	margin-left: 11px;
	font-weight: 400;
	padding-top: 21px;
}

.nav > li.user-area {
	position: absolute;;
	bottom: 20px;
}

th {
	font-weight: normal;
}

.mr {
	vertical-align: middle;
	margin-right: 20px;
	padding-top: 6px;
}

.ml {
	margin-left: 20px;
}

.mr5 {
	vertical-align: top;
	margin-right: 1px;
}

select {
	/* box-shadow: inset 0px -3px 10px -8px #717171 !important; */
	padding-top: 5px !important;
}

.fmonospaced {
	color: #2C629A;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'consolas', 'Monaco', monospace;
}

.querybtn {
	padding-top: 5px;
}

.mt5 {
	margin-top: 5px;
}

.mb {
	margin-bottom: 10px;
}

.dim {
	color: #bbb;
	transition: color 0.2s;
}

.dim:hover {
	transition: color 0.2s;
	color: #083087
}

.lefticon {
	float: left;
	position: absolute;
	margin-left: -19px;
	vertical-align: top;
	margin-top: 9px;
}

.modal-header {
	background-color: #2C629A;
	color: white;
	border-bottom: none;
}

.close {
	color: white;
}

.close:focus, .close:hover {
	color: #FFF;
}

/* Override bootstrap styles */

.modal-backdrop {
	z-index: 989;
}

.modal-backdrop.in {
	opacity: .3;
}

.modal {
	z-index: 999;
}

.modal .modal-content {
	border: none;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
}

/* Addition Bootstrap callout */

.bs-callout {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #eee;
	border-left-width: 3px;
	border-radius: 2px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout + .bs-callout {
	margin-top: -5px;
}

.bs-callout-default {
	border-left-color: #777;
}

.bs-callout-default h4 {
	color: #777;
}

.bs-callout-primary {
	border-left-color: #1D62F0;
}

.bs-callout-primary h4 {
	color: #1D62F0;
}

.bs-callout-success {
	border-left-color: #87CB16;
}

.bs-callout-success h4 {
	color: #87CB16;
}

.bs-callout-danger {
	border-left-color: #FF4A55;
}

.bs-callout-danger h4 {
	color: #FF4A55;
}

.bs-callout-warning {
	border-left-color: #FF9500;
}

.bs-callout-warning h4 {
	color: #FF9500;
}

.bs-callout-info {
	border-left-color: #1DC7EA;
}

.bs-callout-info h4 {
	color: #1DC7EA;
}

/* Main styles */

.main_sidebar .logo a {
	text-align: left !important;
}

.main_sidebar .logo-text {
	color: #FFFFFF;
	font-size: 16px;
	margin-left: 5px;
	/*text-transform: uppercase;*/
}

/* App main styles */

.uppercase {
	text-transform: uppercase;
}

/* Guidline styles */

#guideline .modal-content {
	overflow: hidden;
}

#guideline .modal-content .bs-callout:first-child {
	margin-top: 0;
}

#guideline .step .step-title .step-number {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	background-color: #1D62F0;
	border-radius: 50%;
	color: #FFF;
	text-align: center;
}

#guideline .step .step-title .step-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

#guideline .meotrics_script {
	width: 100%;
	height: auto;
	width: 100%;
	min-height: 200px;
	position: relative;
	margin: 5px 0px;
}

#guideline .meotrics_script .copy-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: +1;
}

#guideline .meotrics_script textarea {
	position: absolute;
	padding: 9px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	font-family: monospace;
	resize: none;
	font-size: 12px;
	outline: none !important;
	overflow: hidden;
}

#guideline .meotrics_script textarea:focus {
	overflow: auto;
}

.form-segment .col-add-filter {
	text-align: right;
	/* margin-top: 12px; */
	/* padding: 0px; */
}

.navbar .navbar-nav > li > a {
	padding: 7px 13px;
}

.navbar .navbar-nav > li > a {
	/* padding: 10px 13px; */
	vertical-align: middle;
	margin: 6px 3px;
}

.form-control {
	height: 34px;
	font-size: 15px;
	padding-bottom: 6px;
}

.input-group-addon {
	padding: 1px;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
	color: #565656;
}

.vam {
	vertical-align: middle;
}

a {
	color: #2B5AAE;
}

a:hover, a:focus {
	color: #4A8BF6;
}

.card label {
	font-size: 14px;
}

.card h6 {
	font-weight: normal;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.mt {
	margin-top: 20px;
}

.pb10 {
	padding-bottom: 10px;
}

.select2-container--default .select2-selection--single {
	height: 34px;
	outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-top: 2px;
	font-size: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
	padding-top: 1px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: rgb(232, 239, 248);
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
	/* border-top: 1px solid rgb(147, 176, 214); */
	font-size: 14px;
	/* font-weight: 400; */
	color: #393939;
}

.select2-container{
	vertical-align: bottom;
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close{
	font-weight: 500;
	font-size: 15px;
}