@import url(css3-buttons.css);

.logo-text {
	font-size: 20px;
	margin-left: 11px;
	font-weight: 400;
	padding-top: 21px;
}

.nav > li.user-area {
	position: absolute;;
	bottom: 20px;
}

th {
	font-weight: normal;
}

.mr {
	vertical-align: middle;
	margin-right: 20px;
	padding-top: 6px;
}

.ml {
	margin-left: 20px;
}

.mr5 {
	vertical-align: top;
	margin-right: 1px;
}

select {
	/* box-shadow: inset 0px -3px 10px -8px #717171 !important; */
	padding-top: 5px !important;
}

.fmonospaced {
	color: #2C629A;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'consolas', 'Monaco', monospace;
}

.querybtn {
	padding-top: 5px;
}

.mt {
	margin-top: 10px;
}

.mt5 {
	margin-top: 5px;
}

.mb {
	margin-bottom: 10px;
}

.dim {
	color: #bbb;
	transition: color 0.2s;
}

.dim:hover {
	transition: color 0.2s;
	color: #083087
}

.lefticon {
	float: left;
	position: absolute;
	margin-left: -19px;
	vertical-align: top;
	margin-top: 9px;
}

.modal-header {
	background-color: #326EAD;
	color: white;
	border-bottom: none;
}

.close {
	color: white;
}

.close:focus, .close:hover {
	color: #FFF;
}

/* Override bootstrap styles */

.modal-backdrop {
	z-index: 989;
}

.modal-backdrop.in {
	opacity: .3;
}

.modal {
	z-index: 999;
}

.modal .modal-content {
	border: none;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
}

/* Addition Bootstrap callout */

.bs-callout {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #eee;
	border-left-width: 3px;
	border-radius: 2px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout + .bs-callout {
	margin-top: -5px;
}

.bs-callout-default {
	border-left-color: #777;
}

.bs-callout-default h4 {
	color: #777;
}

.bs-callout-primary {
	border-left-color: #1D62F0;
}

.bs-callout-primary h4 {
	/*color: #1D62F0;*/
        color: #2F5EB0;
}

.bs-callout-success {
	border-left-color: #87CB16;
}

.bs-callout-success h4 {
	color: #87CB16;
}

.bs-callout-danger {
	border-left-color: #FF4A55;
}

.bs-callout-danger h4 {
	color: #FF4A55;
}

.bs-callout-warning {
	border-left-color: #FF9500;
}

.bs-callout-warning h4 {
	color: #FF9500;
}

.bs-callout-info {
	border-left-color: #1DC7EA;
}

.bs-callout-info h4 {
	color: #1DC7EA;
}

/* Main styles */

.main_sidebar .logo a {
	text-align: left !important;
}

.main_sidebar .logo-text {
	color: #FFFFFF;
	font-size: 16px;
	margin-left: 5px;
	/*text-transform: uppercase;*/
}

/* App main styles */

.uppercase {
	text-transform: uppercase;
}

/* Guidline styles */

#guideline .modal-content {
	overflow: hidden;
}

#guideline .modal-content .bs-callout:first-child {
	margin-top: 0;
}

#guideline .step .step-title .step-number {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	background-color: #1D62F0;
	border-radius: 50%;
	color: #FFF;
	text-align: center;
}

#guideline .step .step-title .step-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

#guideline .meotrics_script {
	width: 100%;
	height: auto;
	width: 100%;
	min-height: 200px;
	position: relative;
	margin: 5px 0px;
}

#guideline .meotrics_script .copy-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: +1;
}

#guideline .meotrics_script textarea {
	position: absolute;
	padding: 9px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	font-family: monospace;
	resize: none;
	font-size: 12px;
	outline: none !important;
	overflow: hidden;
}

#guideline .meotrics_script textarea:focus {
	overflow: auto;
}

.form-segment .col-add-filter {
	text-align: right;
	/* margin-top: 12px; */
	/* padding: 0px; */
}

.navbar .navbar-nav > li > a {
	padding: 7px 13px;
}

.navbar .navbar-nav > li > a {
	/* padding: 10px 13px; */
	vertical-align: middle;
	margin: 6px 3px;
}

.form-control {
	height: 34px;
	font-size: 15px;
	padding-bottom: 6px;
        /*
         * update 07/05/2016
         */
        -webkit-border-radius: 20px;
}

.input-group-addon {
	padding: 1px;
        /*
         * update 07/05/2016
         */
        -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
	color: #565656;
}

.vam {
	vertical-align: middle;
}

a {
	color: #2B5AAE;
}

a:hover, a:focus {
	color: #4A8BF6;
}

.card label {
	font-size: 14px;
}

.card h6 {
	font-weight: normal;
	font-size: 14px;
        /*
         * update 07/05/2016
         */
        color: #4B8DF8;
        margin: 10px 0 5px 13px;
}

.mt {
	margin-top: 20px;
}

.pb10 {
	padding-bottom: 10px;
}

.select2-container--default .select2-selection--single {
	height: 34px;
	outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-top: 2px;
	font-size: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
	padding-top: 1px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	/* background-color: rgb(232, 239, 248); */
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
	/* border-top: 1px solid rgb(147, 176, 214); */
	font-size: 14px;
	/* font-weight: 400; */
	color: #393939;
}

.select2-container {
	vertical-align: bottom;
}

/*
 * edit icon in profile page
 */
.a-edit-username{
    font-size: 20px;
}

.a-edit{
    font-size: 12px;
}

.a-edit-obj{
/*    font-size: 24px;
    margin-right: 12px;*/
}

.a-edit-obj span{
    vertical-align: middle;
}

.a-trash-obj{
    /*font-size: 24px;*/
}

.a-trash-obj span{
    vertical-align: middle;
}
body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
	font-weight: 500;
	/* font-size: 15px; */
}

.card .header {
	padding: 20px 20px 0;
}

.card .content {
	padding: 20px 20px 20px;
}

/* 
 * update 07/05/2016
 */
.col-add-filter{
    text-align: left;
}
.col-add-condition .fa-plus, .col-add-condition .fa-minus, .col-add-filter .fa-plus, .col-add-filter .fa-minus{
    border: 1px solid #E3E3E3;
    border-radius: 50%;
    padding: 11px;
    width: 34px;
    font-size: 10px;
    color: #4B8DF8;
    cursor: pointer;
    float:left;
}
/*.col-add-condition .fa-minus, .col-add-filter .fa-minus{
    float: left;
}*/

.card form .row [class*="col-"] {
    padding: 6px 6px 6px 15px;
}

.col-add-filter a{
    margin: 0; 
    padding: 7px 0px; 
    vertical-align: middle; 
    width: 34px;
    height: 34px;
    float: left;
    border-radius: 50%;
}

/*a.blue{
    color: #444;
}*/

button.button-radius, a.button-radius{
    -webkit-border-radius: 20px !important; 
}

button.button-head{
    margin-top: 7px;
    margin-left: -15px;
}

div.back{
    padding-top: 8px;
}

div.back .fa-chevron-left{
    border: 1px solid #E3E3E3;
    border-radius: 50%;
    padding: 9px;
    width: 38px;
    font-size: 16px;
    color: #4B8DF8;
    cursor: pointer;
    float: left;
    margin-right: 18px;
}

.twitter-typeahead .tt-hint{
    width: 50px;
}

.text-align-right{
    text-align: right;
}

.selection .select2-selection{
    -webkit-border-radius: 20px;
}

.a-edit-obj .fa-pencil, .a-trash-obj .fa-trash{
    border: 1px solid #E3E3E3;
    border-radius: 50%;
    padding: 6px;
    width: 34px;
    font-size: 20px;
    color: #4B8DF8;
    cursor: pointer;
    float: left;
}

.div-edit-obj, .div-trash-obj{
    width: 60px;
}

.segment-desc{
    margin-top: 6px;
    margin-left: -11px;
}

.div-seg-first-col{
    margin-left: -53px;
}

.table-trend thead th{
    background-color: #eee;
}

.table-trend thead th{
    color: #4B8DF8 !important;
}

/*
 * update 09/05/2016: Dashboard
 */
.bg-aqua{
    background-color: #4B8DF8;
    color: #fff;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.small-box>.inner {
    padding: 10px;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    text-align: center;
}

.small-box p {
    font-size: 15px;
    text-align: center;
    min-height: 28px;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}

.small-box>.small-box-footer>.fa-sort-up {
    margin-top: 5px;
    vertical-align: middle;
}

.small-box>.small-box-footer>.fa-sort-down {
    margin-top: -8px;
    vertical-align: middle;
}

.color-red{
    color: red !important;
}

.font-size-20{
    font-size: 20px;
}

.chart-legend ul {
	padding-left: 0;
    list-style-type: none;
}

.chart-legend li .dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 15px;
    border-radius: 12px;
}




.progress-pie-chart {
width:200px;
height: 200px;
border-radius: 50%;
background-color: #E5E5E5;
position: relative;
}
.progress-pie-chart.gt-50 {
background-color: #81CE97;
}

.ppc-progress {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 200px;
height: 200px;
clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {content: "";position: absolute;border-radius: 50%;left: calc(50% - 100px);top: calc(50% - 100px);width: 200px;height: 200px;clip: rect(0, 100px, 200px, 0);background: #F50739;transform: rotate(60deg);}
.gt-50 .ppc-progress {
clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
clip: rect(0, 200px, 200px, 100px);
background: #E5E5E5;
}

.ppc-percents {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 173.91304px/2);
top: calc(50% - 173.91304px/2);
width: 173.91304px;
height: 173.91304px;
background: #fff;
text-align: center;
display: table;
}
.ppc-percents span {display: block;font-size: 2.6em;font-weight: bold;color: #F50739;}

.pcc-percents-wrapper {
display: table-cell;
vertical-align: middle;
}

.progress-pie-chart {margin: auto;}

.verybig
{
	font-size: 36px;
}

.big
{
	font-size: 30px;
}

.bigup
{
	font-size: 20px;
	color: #66CD00;
	vertical-align: super;
}

.bigdown 
{
	font-size: 20px;
	color: #F50739;
	vertical-align: super;
}

.header h4{margin-top: 0px; margin-bottom: 0px}

.card{margin-bottom: 15px;}

.card .header {
    padding: 15px 15px 0;
}

.onoffswitch {
	position: relative; width: 54px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	height: 21px; padding: 0; line-height: 21px;
	border: 2px solid #999999; border-radius: 21px;
	background-color: #FAFAFA;
	transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
	content: "";
	display: block; width: 21px; margin: 0px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 31px;
	border: 2px solid #999999; border-radius: 21px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: #3AC710;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: #3AC710;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0px;
}