.color-white{
    color:white;
    font-size: 13px !important;
    vertical-align: text-top;
    width: 3px;
}
.select2-selection__rendered
{
    padding-left: 16px !important;
}
.fix-padding
{
    padding-right: 4px !important;
    padding-left: 4px !important;
}
.col-segment  .div-edit-obj, .div-trash-obj
{
    width: 43px;
}
.main-panel > .content{
    padding: 10px 15px;
}
.button-radius-mini{
    border-radius:3px;
    width: 110px;
    height: 32px;
}
.limit-char{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 15px;
    vertical-align: baseline;
    font-weight: bold !important;
    /*max-height: 32px;*/
    width: 65px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0px!important;
}
.font-mini{
    font-size: 14px!important;
}
.vl-md-6{
    float: left;
    width: 47%;
}
.vl-table-4{
    background: #4E6CC9;
    color: white;
    height: 110px;
}
.bg-table-1{
    background: url(/img/ic1.png);
    background-repeat: no-repeat;
    background-size:100% 100%;

}
.bg-table-2{
    background: url(/img/ic2.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.bg-table-3{
    background: url(/img/ic3.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.bg-table-4{
    background: url(/img/ic4.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.border-right-1{
    background: url(/img/ic_left_1.png) 100% 100%;
    border-image: url(/img/border_right1.png) 0 0 0 30 round;
    border-width: 0px 5px;
}
.border-right-2{
    background: url(/img/ic_left_2.png) 100% 100%;
    border-image: url(/img/border_right2.png) 0 0 0 30 round;
    border-width: 0px 5px;
}
.border-right-3{
    background: url(/img/ic_left_3.png) 100% 100%;
    border-image: url(/img/border_right3.png) 0 0 0 30 round;
    border-width: 0px 5px;
}
.border-top-1{
    border-image: url(/img/border-top-1.png) 30 0 0 0 round;
}
.border-top-2{
    border-image: url(/img/border_top_2.png) 30 0 0 0 round;
}
.sidebar .nav p{
    text-transform: none ;
    font-size: 14px;
}